body {
	background: radial-gradient(circle, white, deeppink);

}

h1 {
	background-color: aquamarine;
	text-align: center;
	font-family: "Courier New";
}

div {
	text-align: center;
}

img {
	border: black solid 4px;
	text-align: center;
}